:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base03);
  font-family: Consolas, Monaco, monospace;
  font-size: 12pt;
  line-height: 1.6;
}

body div {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

p {
  margin: 0;
  color: var(--base0);
}

div p:first-child {
  color: var(--green);
  margin-top: auto;
  padding-top: 50px;
  font-size: 20px;
}

div p:nth-child(2) {
  margin: 24px 0;
  font-size: 20px;
}

.title {
  color: var(--base0);
  font-weight: bold;
  margin-bottom: 36px;
}

.title span:last-child {
  background-color: var(--yellow);
}

a {
  color: var(--blue);
  font-size: 18px;
}

#funny {
  color: var(--cyan);
  padding: 40px 0 32px 0;
  font-style: italic;
  font-size: 24px;
}

.log {
  color: var(--base01);
  margin: 4px 0;
}

div p:last-child {
  margin-bottom: auto;
  padding-bottom: 50px;
}
